.input-form-group .right_icon input, .input-form-group .right_icon textarea{padding-right: 0px;}
.input-form-group .right-label{padding: 5px 10px;}
.input-form-group .input-disabled{border-color: #e6e6e6!important;}
input:disabled{background-color: #fdfcfb;color: #999999;}


.react-tel-input .form-control{ width: 100% !important; height: 2.5rem !important; border-radius: 0.375rem !important; }

.loader { width: 1rem; height: 1rem; border: 2px solid white; border-top: 2px solid transparent; border-radius: 50%; animation: spin 0.5s linear infinite;}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.modal-overlay {
  @apply fixed inset-0 flex items-center justify-center bg-black/50 z-50;
}

.table-component table thead tr th:first-child {border-top-left-radius: 6px;}
.table-component table thead tr th:last-child {border-top-right-radius: 6px;
}


body {
    overflow-y: hidden;
    overflow-x: hidden;
    font-size: 14px;
}

.main-container::-webkit-scrollbar {
    width: 5px;
    background-color: #000;
    overflow-y: hidden;
}

.main-container::-webkit-scrollbar-thumb {
    background: rgb(223, 215, 215);
    border-radius: 5px;
}

#sidebar-bottom-section::-webkit-scrollbar {
    width: 5px;
    background-color: #000;
}

#sidebar-bottom-section::-webkit-scrollbar-thumb {
    background: rgb(223, 215, 215);
    border-radius: 5px;
}

input[type='text']:focus {
    box-shadow: none;
    outline: none;
    cursor: pointer;
}

input::placeholder {
    font-weight: normal;
}

/* icon css */
.common_icon_image .picture-opacity-1 {
    width: 100%;
    height: 100%;
}

.common_icon_image .picture-opacity-1 img {
    vertical-align: 4px;
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.common_icon {
    --height: 18px;
    --width: 18px;
    --text-primary-color: white;
    --icon-url: none;
    mask-position: center;
    -webkit-mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: contain;
    -webkit-mask-size: contain;
    background-color: var(--text-primary-color);
    height: var(--height);
    width: var(--width);
    display: inline-block;
    position: relative;
    mask-image: var(--icon-url);
    --webkit-mask-image: var(--icon-url);
    -webkit-mask-size: contain;
    mask-size: contain;
    vertical-align: -4px;
}

#dashboard-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.title-section {
    padding: 10px 10px 10px 20px;
}

.body-section {
    flex-grow: 1;
    background-color: white;
    border-radius: 40px 0px 0px 0px;
    width: 100%;
    padding: 20px 20px 10px 20px;
    box-sizing: border-box;
}

/* .class="react-datepicker__month-text react-datepicker__month-0" */
.react-datepicker__month-text{
    padding: 10px 0;
}
.react-datepicker__month-select{
    width: 90px;
}
/* class="react-datepicker__header__dropdown react-datepicker__header__dropdown--select" */
/* .class="react-datepicker__month-dropdown-container react-datepicker__month-dropdown-container--select" */
/* class="react-datepicker__year-dropdown-container react-datepicker__year-dropdown-container--select" */
.react-datepicker__header__dropdown {
    width: 100%;
    padding: 10px 0px; /* Add padding inside the main container */
    display: flex; /* Enable Flexbox */
    gap: 10px; /* Add gap between the two child containers */
}

.card-container {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 20px;
}

.card1:hover,
.card2:hover,
.card3:hover {
    -webkit-box-shadow: -4px 1px 28px -15px rgba(66, 57, 66, 1);
    -moz-box-shadow: -4px 1px 28px -15px rgba(66, 57, 66, 1);
    box-shadow: -4px 1px 28px -15px rgba(66, 57, 66, 1);
}

.card1 {
    background-image: url('../../public/assets/icons/card1.svg');
    background-position: cover;
    background-repeat: no-repeat;
    width: 310px;
    height: 140px;
    border-radius: 20px;
}

.card2 {
    background-image: url('../../public/assets/icons/card2.svg');
    background-position: cover;
    background-repeat: no-repeat;
    width: 310px;
    height: 140px;
    border-radius: 20px;
}

.card3 {
    background-image: url('../../public/assets/icons/card3.svg');
    background-position: cover;
    background-repeat: no-repeat;
    width: 310px;
    height: 140px;
    border-radius: 20px;
}

.ScrollbarsSidebar .thumb-view {
    transform: translateY(0px);
    position: relative;
    display: block;
    width: 100%;
    cursor: pointer;
    border-radius: inherit;
    background-color: rgba(219, 210, 210, 0.445);
    z-index: 2;
}

.ScrollbarsSidebar .thumb-view {
    transform: translateY(0px);
    position: relative;
    display: block;
    width: 100%;
    cursor: pointer;
    border-radius: inherit;
    background-color: rgba(219, 210, 210, 0.445);
    z-index: 2;
}

.body-wrapper {
    width: 100%;
    height: 100%;
}

.formlayout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.formlayout-top-section {
    flex-shrink: 0;
    padding-top: 1rem;
}

.formlayout-bottom-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 40px 0px 0px 0px;
}

.top-section-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 50px;
}

h2 {
    margin-bottom: 0;
}

hr {
    margin: 0;
}

.table-layout-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

table th:first-child {
    border-radius: 10px 0 0 10px;
}

table th:last-child {
    border-radius: 0 10px 10px 0;
}

table td {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 60px;
}

table th {
    position: sticky;
    top: 0;
    background-color: #f6fafd;
    z-index: 1;
    padding-left: 10px;
    min-width: 60px;
}

.logout-button {
    background-image: linear-gradient(#e0f375, #b1e903);
}

.popup-table th:first-child {
    border-radius: 0 0 0 0;
}

.popup-table th:last-child {
    border-radius: 0 0 0 0;
}

.popup-table td {
    padding-top: 0px;
    padding-bottom: 0px;
}

.select-form-containers .select-form__menu {
    z-index: 1999;
    width: max-content;
    min-width: 100%;
    max-width: 600px;
}

.select-form__control {
    height: 42px;
}

.select-form__control {
    outline: none;
    box-shadow: none;
}

.personImage {
    height: 95px;
    width: 95px;
}

.details-header {
    display: flex;
    gap: 10px;
    line-height: 30px;
}

.details-header p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #91a1cb;
}

.SalarySection {
    background: linear-gradient(180deg, #e8efff 0%, #f9fbff 100%);
}

.guest-container {
    background-color: #ffffff;
    width: 100%;
    height: 100lvh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 10pxpx;
    padding-bottom: 10px;
}

.login-container {
    width: 100lvw;
    height: 100lvh;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.login-left {
    grid-area: 1 / 1 / 2 / 2;
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-left-inside-container {
    width: 70%;
    height: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.login-right {
    grid-area: 1 / 2 / 2 / 3;
    border-radius: 20px;
    background-image: url('../../public/assets/icons/registerimage.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    /* Ensure pseudo-element stays within bounds */
}

.login-right::before {
    content: '';
    position: absolute;
    bottom: 0;
    /* Position at the bottom */
    left: 0;
    width: 100%;
    height: 30%;
    /* Cover the bottom 30% */
    background-image: inherit;
    /* Use the same background image */
    background-size: inherit;
    background-repeat: inherit;
    background-position: bottom;
    /* Align to match the original background */
    filter: blur(8px);
    /* Adjust blur amount */
    z-index: 1;
    pointer-events: none;
    /* Prevent interference with interactions */
}

.login-content {
    position: absolute;
    bottom: 0;
    /* Stick to the bottom of the parent */
    width: 100%;
    /* Ensure it spans the full width of the parent */
    height: 30%;
    /* Take up 30% of the parent's height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Vertically center the text within the div */
    align-items: center;
    /* Horizontally center the text */
    z-index: 2;
}

.guest-children-container {
    width: 400px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#sidebar-container {
    display: none;
    background-color: #181e36;
    font-size: 0.875rem;
    color: #64748b;
    height: 100%;
    position: fixed;
    z-index: 10;
    width: 220px;
}

#sidebar-bottom-section {
    height: 100dvh;
    -webkit-overflow-scrolling: touch;
}
/* tablelayout style */
.importdoc-container {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}
.importdoc-inside-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    padding: 10px;
}
.exportdoc-container {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px;
}
.salary-slip-popup {
    width: 680px;
    margin-top: 70px;
    margin-bottom: 70px;
}

#sidebar-container {
  position: relative;
}

.transition-transform {
  transition: transform 0.3s ease-in-out;
}

@media (min-width: 768px) {
  .sidebar-open,
  .sidebar-closed {
      transform: none; /* Reset for larger screens */
  }
}
/* Desktop: 1025px and above */
@media screen and (min-width: 1024px) {
    .guest-container {
        padding: 1rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .guest-children-container {
        width: 400px;
    }

    .personImage {
        height: 95px;
        width: 95px;
    }

    .details-header p {
        font-size: 16px;
    }

    #sidebar-container {
        display: block;
        position: relative;
        width: 220px;
    }
    .salary-slip-popup {
        width: 'calc(100vw - 50px)';
        margin-top: 70px;
        margin-bottom: 70px;
    }
}

/* Tablet: 768px to 1024px */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .guest-container {
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;
    }

    #dashboard-container {
        overflow-y: hidden;
    }

    .card1 {
        width: 220px;
        height: 140px;
        background-color: #c3b5e2;
        background-size: cover;
    }

    .card2 {
        width: 220px;
        height: 140px;
        background-color: #cbf7bc;
        background-size: cover;
    }

    .card3 {
        width: 220px;
        height: 140px;
        background-color: #feeeca;
        background-size: cover;
    }

    .guest-children-container {
        width: 50%;
    }

    .personImage {
        height: 85px;
        width: 85px;
    }

    .details-header p {
        font-size: 15px;
    }

    #sidebar-container {
        display: block;
        position: relative;
        width: 160px;
    }

    .card1:hover,
    .card2:hover,
    .card3:hover {
        -webkit-box-shadow: -4px 1px 28px -15px rgba(66, 57, 66, 1);
        -moz-box-shadow: -4px 1px 28px -15px rgba(66, 57, 66, 1);
        box-shadow: -4px 1px 28px -15px rgba(66, 57, 66, 1);
    }
    .importdoc-container {
        display: flex;
        justify-content: start;
        gap: 8px;
    }
    .importdoc-inside-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 4px;
        padding: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .login-container2 {
        width: 100%;
        height: 100vh;
        background-image: url('../../public/assets/icons/registerimage.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .login-inside-container2 {
        width: auto;
        height: auto;
        background-color: white;
        border-radius: 20px;
        padding: 20px;
    }
    .login-bottom-title {
        font-size: 35px;
        font-weight: 900;
    }
    .login-bottom-content {
        font-size: 22px;
        font-weight: 600;
    }
    .salary-slip-popup {
      width: 'calc(100vw - 50px)';
      margin-top: 50px;
        margin-bottom: 50px;
    }
    .formlayout-container{
        padding-bottom: 60px;
    }
}

/* Mobile: up to 768px */
@media screen and (max-width: 767px) {
  body{
    overflow-y: auto;
  }
    .guest-container {
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .guest-children-container {
        width: 90%;
        /* Adjust width for mobile */
    }

    .personImage {
        height: 70px;
        /* Smaller image for mobile */
        width: 70px;
    }

    .details-header p {
        font-size: 14px;
    }

    .card1:hover,
    .card2:hover,
    .card3:hover {
        -webkit-box-shadow: -4px 1px 28px -15px rgba(66, 57, 66, 1);
        -moz-box-shadow: -4px 1px 28px -15px rgba(66, 57, 66, 1);
        box-shadow: -4px 1px 28px -15px rgba(66, 57, 66, 1);
    }
    .login-container2 {
        width: 100%;
        height: 100vh;
        background-image: url('../../public/assets/icons/registerimage.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .login-inside-container2 {
        width: auto;
        height: auto;
        background-color: white;
        border-radius: 20px;
        padding: 20px;
        margin: 20px;
    }
    .welcome-title {
        font-size: 16px;
    }
    .login-title {
        font-size: 12px;
    }
    .login-bottom-title {
        font-size: 28px;
        font-weight: 900;
    }
    .login-bottom-content {
        font-size: 18px;
        font-weight: 600;
    }
    .salary-slip-popup {
        width: 'calc(100vw - 50px)';
        margin-top: 30px;
        margin-bottom: 30px;
    }
   
    #dashboard-container {
      overflow-y: scroll;
  }
  .card1, .card2, .card3{
    width: 500px;
    height: 120px;
  }
  .confirm-popup{
    width: 300px;
  }
  .table-layout-container{
    background-color: #E7EEF8;
  }
  .table-layout-header-container, .formlayout-top-section,.formlayout-container{
    background-color: #E7EEF8;
  }
  .formlayout-container{
    padding-bottom: 20px;
  }
  .salary-slip-popup{
    width: 85%;
  }
  .login-footer-content{
    margin-bottom: -12vh;
    margin-top: -5vh;
  }

}

/* Full screen gray overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Gray with opacity */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 30;
    /* High z-index to display over other content */
}

/* Loader styles */
.loader {
    --dim: 4rem;
    width: var(--dim);
    height: var(--dim);
    position: relative;
    animation: spin988 2s linear infinite;
}

.loader .circle {
    --color: #789fb6;
    --dim: 1.2rem;
    width: var(--dim);
    height: var(--dim);
    background-color: var(--color);
    border-radius: 50%;
    position: absolute;
}

.loader .circle:nth-child(1) {
    top: 0;
    left: 0;
}

.loader .circle:nth-child(2) {
    top: 0;
    right: 0;
}

.loader .circle:nth-child(3) {
    bottom: 0;
    left: 0;
}

.loader .circle:nth-child(4) {
    bottom: 0;
    right: 0;
}

@keyframes spin988 {
    0% {
        transform: scale(1) rotate(0);
    }

    20%,
    25% {
        transform: scale(1.3) rotate(90deg);
    }

    45%,
    50% {
        transform: scale(1) rotate(180deg);
    }

    70%,
    75% {
        transform: scale(1.3) rotate(270deg);
    }

    95%,
    100% {
        transform: scale(1) rotate(360deg);
    }
}
/* Custom CSS */
.react-datepicker-wrapper{
    width: 100%;
 }
.react-datepicker__input-container{
    width: 100%;
}

.react-datepicker__input-container input:focus {
    border-color: #4f46e5 !important; /* Indigo color */
    width: 100% !important;
  }
  